
.key-frame[data-v-53c46ff9] {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.key-row[data-v-53c46ff9] {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
    align-items: stretch;
}
.key-row-sm[data-v-53c46ff9] {
    flex-grow: 0.6;
}
.key-item[data-v-53c46ff9] {
    background: tomato;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}
.key-item-4[data-v-53c46ff9] {
    flex-grow: 5;
}
.key-item-2[data-v-53c46ff9] {
    flex-grow: 1.5;
}
.key-color-alt[data-v-53c46ff9] {
    background: #c9412a;
}
.key-item[data-v-53c46ff9]:hover {
    background: #b13924;
}
.key-color-alt[data-v-53c46ff9]:hover {
    background: #8e291b;
}
.key-toggle-on[data-v-53c46ff9] {
    color: lightskyblue;
}
.key-transform-uppercase span[data-v-53c46ff9]{
    text-transform: uppercase;
}
.key-transform span[data-v-53c46ff9] {
    display: inline-block;
    width: 1em;
}


#input-text[data-v-0e538532] {
    color: #7e89b8;
    font: 50px "customFont";
    background-color: rgba(255,255,255,0);
    display: block;
    width:100%;
    text-align: center;
}
input[data-v-0e538532] {border:0;outline:0;}
input[data-v-0e538532]:focus {outline:none!important;}



@font-face {
    font-family: "customFont";
    src: url(fonts/font.ttf);
}
body {
    font-family: "customFont", serif;
    user-select: none;
    background-color: #c7c7c7;
}

