
.snap[data-v-5f9b9efa] {
    position: absolute;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    transform: scale(1.0);
    box-shadow: -1px 17px 38px 9px rgba(0, 0, 0, 0.6);
}
.transition[data-v-5f9b9efa] {
    animation-name: moving-snap-data-v-5f9b9efa;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes moving-snap-data-v-5f9b9efa {
0% {
        transform: translate(0px, 0px) scale(1);
        opacity: 1.0;
        filter: brightness(1.0);
}
40% {
        transform: translate(0px, 0px) scale(0.6);
        filter: brightness(2.0);
}
60% {
        opacity: 1.0;
}
100% {
        transform: translate(470px, 880px) scale(0.05);
        opacity: 0;
}
}



.record-button[data-v-19f586a2]{
    position:absolute;
    top:1700px;
    left:460px;
    width: 160px;
    height: 160px;
}
.button[data-v-19f586a2] {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: crimson;
    text-align: center;
    font-size: 30px;
    line-height: 160px;
    vertical-align: middle;
}


.images-button[data-v-183d5809] {
    position: absolute;
    top: 1700px;
    right: 50px;
    width: 160px;
    height: 160px;
}
.button[data-v-183d5809] {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    overflow: hidden;
    border: solid 5px green;
}
.selected[data-v-183d5809]{
    border: solid 5px yellow;
}
.button img[data-v-183d5809] {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
}
.image-counter[data-v-183d5809] {
    position: relative;
    left: 0;
    top: -180px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: solid 3px white;
    color: white;
    background-color: darkblue;
    font-size: 24px;
    font-weight: bold;
}


.themes-button[data-v-26c21adb]{
    position:absolute;
    top:1700px;
    left:50px;
    width: 160px;
    height: 160px;
}
.button[data-v-26c21adb] {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: greenyellow;
    text-align: center;
    font-size: 30px;
    line-height: 160px;
    vertical-align: middle;
}


.gallery[data-v-14b8a5e3] {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 1000px;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
}
.visible[data-v-14b8a5e3] {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}
.header-row[data-v-14b8a5e3] {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 40px;
}
.images-row[data-v-14b8a5e3] {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button-row[data-v-14b8a5e3] {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.share-button[data-v-14b8a5e3] {
    height: 100px;
    border-radius: 50px;
    background-color: gray;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    vertical-align: middle;
    margin-right: 20px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.enabled .share-button[data-v-14b8a5e3]{
    background-color: darkblue;
}
.image-thumbnail[data-v-14b8a5e3] {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 380px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
.image-thumbnail.selected[data-v-14b8a5e3] {
    background-color: yellow;
}
.image-thumbnail-static[data-v-14b8a5e3] {
    position: relative;
    width: 100%;
    height: 100%;
}
.image-delete-button[data-v-14b8a5e3] {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: solid 3px white;
    color: white;
    background-color: red;
    font-size: 24px;
    font-weight: bold;
}


.container[data-v-e35b00c2] {
    position: absolute;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    display: flex;
    flex-direction: column;
    transform: translateX(-1080px);
    transition: transform 0.5s;
}
.active[data-v-e35b00c2]{
    transform: translateX(0px);
    transition: transform 0.5s;
}
.footer div[data-v-e35b00c2] {
    border: solid 1px darkblue;
}
.footer .side[data-v-e35b00c2] {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer .center[data-v-e35b00c2] {
    width: 160px;
    height: 100%;
}



.key-frame[data-v-c7526f2a] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.key-row[data-v-c7526f2a] {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
    align-items: stretch;
}
.key-row-sm[data-v-c7526f2a] {
    flex-grow: 0.6;
}
.key-item[data-v-c7526f2a] {
    background: tomato;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}
.key-item-4[data-v-c7526f2a] {
    flex-grow: 5;
}
.key-item-2[data-v-c7526f2a] {
    flex-grow: 1.5;
}
.key-color-alt[data-v-c7526f2a] {
    background: #c9412a;
}
.key-item[data-v-c7526f2a]:hover {
    background: #b13924;
}
.key-color-alt[data-v-c7526f2a]:hover {
    background: #8e291b;
}
.key-toggle-on[data-v-c7526f2a] {
    color: lightskyblue;
}
.key-transform-uppercase span[data-v-c7526f2a] {
    text-transform: uppercase;
}
.key-flexible span[data-v-c7526f2a] {
    width: 100% !important;
}
.key-item span[data-v-c7526f2a] {
    display: inline-block;
    width: 1em;
    height: 1.5em;
}
.aspect-wrapper[data-v-c7526f2a] {
    position: relative;
    width: 100%;
    padding-top: 55%;
}
.aspect-wrapper-insides[data-v-c7526f2a] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



#input-text[data-v-1e322f59] {
    color: white;
    font: 50px "customFont";
    background-color: rgba(255,255,255,0);
    display: block;
    width:100%;
    text-align: center;
}
input[data-v-1e322f59] {border:0;outline:0;}
input[data-v-1e322f59]:focus {outline:none!important;}



.container[data-v-1ca635cb] {
    position: absolute;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    display: flex;
    flex-direction: column;
    transform: translateX(1080px);
    transition: transform 0.5s;
}
.active[data-v-1ca635cb] {
    transform: translateX(0px);
    transition: transform 0.5s;
}
.back-button[data-v-1ca635cb] {
    position: absolute;
    top: 1700px;
    left: 50px;
    width: 160px;
    height: 160px;
}
.button[data-v-1ca635cb] {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: greenyellow;
    text-align: center;
    font-size: 30px;
    line-height: 160px;
    vertical-align: middle;
}
.image-preview[data-v-1ca635cb] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.gui-frame[data-v-4544180d] {
    position: absolute;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    border: solid 1px red;
}
.start-button[data-v-4544180d] {
    display: inline-block;
    width: 100%;
    border: solid 1px gray;
    border-radius: 10px;
    text-align: center;
    margin-top: 1100px;
    background-color: #7e89b8;
    font-size: 50px;
}


@font-face {
    font-family: "customFont";
    src: url(fonts/font.ttf);
}
body {
    font-family: "customFont", serif;
    user-select: none;
    background-color: #c7c7c7;
}

