
.snap[data-v-5f9b9efa] {
    position: absolute;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    transform: scale(1.0);
    box-shadow: -1px 17px 38px 9px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border: solid 2px black;
}
.transition[data-v-5f9b9efa] {
    animation-name: moving-snap-data-v-5f9b9efa;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes moving-snap-data-v-5f9b9efa {
0% {
        transform: translate(0px, 0px) scale(1);
        opacity: 1.0;
        filter: brightness(1.0);
}
40% {
        transform: translate(0px, 0px) scale(0.6);
        filter: brightness(2.0);
        border-radius: 0;
}
60% {
        opacity: 1.0;
}
100% {
        transform: translate(470px, 880px) scale(0.07, 0.03);
        opacity: 0;
        border-radius: 50%;
}
}



.record-button[data-v-19f586a2]{
    pointer-events: auto;
    position:absolute;
    top:1700px;
    left:460px;
    width: 160px;
    height: 160px;
}
.button[data-v-19f586a2] {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: crimson;
    text-align: center;
    font-size: 30px;
    line-height: 160px;
    vertical-align: middle;
}


.images-button[data-v-183d5809] {
    pointer-events: auto;
    position: absolute;
    top: 1700px;
    right: 50px;
    width: 160px;
    height: 160px;
}
.button[data-v-183d5809] {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    overflow: hidden;
    border: solid 5px green;
}
.selected[data-v-183d5809]{
    border: solid 5px yellow;
}
.button img[data-v-183d5809] {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
}
.image-counter[data-v-183d5809] {
    position: relative;
    left: 0;
    top: -180px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: solid 3px white;
    color: white;
    background-color: darkblue;
    font-size: 24px;
    font-weight: bold;
}


.themes-button[data-v-26c21adb] {
    position: absolute;
    top: 1700px;
    left: 50px;
    width: 160px;
    height: 160px;
}
.button[data-v-26c21adb] {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: greenyellow;
    text-align: center;
    font-size: 30px;
    line-height: 32px;
    vertical-align: middle;
}


.gallery[data-v-14b8a5e3] {
    pointer-events: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 1000px;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}
.visible[data-v-14b8a5e3] {
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
}
.header-row[data-v-14b8a5e3] {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 40px;
}
.images-row[data-v-14b8a5e3] {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button-row[data-v-14b8a5e3] {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.share-button[data-v-14b8a5e3] {
    height: 100px;
    border-radius: 50px;
    background-color: gray;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    vertical-align: middle;
    margin-right: 20px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.enabled .share-button[data-v-14b8a5e3]{
    background-color: darkblue;
}
.image-thumbnail[data-v-14b8a5e3] {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 380px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
.image-thumbnail.selected[data-v-14b8a5e3] {
    background-color: yellow;
}
.image-thumbnail-static[data-v-14b8a5e3] {
    position: relative;
    width: 100%;
    height: 100%;
}
.image-delete-button[data-v-14b8a5e3] {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: solid 3px white;
    color: white;
    background-color: red;
    font-size: 24px;
    font-weight: bold;
}


.container[data-v-e35b00c2] {
    position: absolute;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    display: flex;
    flex-direction: column;
    transform: translateX(-1080px);
    transition: transform 0.5s;
}
.active[data-v-e35b00c2]{
    transform: translateX(0px);
    transition: transform 0.5s;
}
.footer div[data-v-e35b00c2] {
    border: solid 1px darkblue;
}
.footer .side[data-v-e35b00c2] {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer .center[data-v-e35b00c2] {
    width: 160px;
    height: 100%;
}



.window[data-v-bfe9229e] {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 1000px;
    width: 1080px;
    height: 650px;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}
.header-row[data-v-bfe9229e] {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 40px;
}
.error[data-v-bfe9229e]{
    color:lightcoral;
}
.qr-image[data-v-bfe9229e]{
    display: block;
    width:500px;
    height:500px;
    position:absolute;
    top:100px;
    left:300px;
    border: dashed 2px yellow;
}


.key-frame[data-v-c7526f2a] {
    pointer-events: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.key-row[data-v-c7526f2a] {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
    align-items: stretch;
}
.key-row-sm[data-v-c7526f2a] {
    flex-grow: 0.6;
}
.key-item[data-v-c7526f2a] {
    margin: 5px;
    color: #aaaaaa;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    text-shadow: 0 2px 3px white;
    background: linear-gradient(to bottom, #e8e8e8 0%,#eeeff1 65%, #eae7e7 100%);
    box-shadow: 0 5px 7px 2px #000000;
    border-bottom: solid 6px #c9c7c7;
    border-top: solid 4px white;
}
.key-item-4[data-v-c7526f2a] {
    flex-grow: 5;
}
.key-item-2[data-v-c7526f2a] {
    flex-grow: 1.5;
}
.key-color-alt[data-v-c7526f2a] {
    color: #8d8d8d;
    text-shadow: 0 2px 3px rgba(220, 219, 219,1);
    background: linear-gradient(to bottom, #a8a8a8 0%, #b3b6bb 65%, #b3b3b3 100%);
    border-bottom: solid 6px #909090;
    border-top: solid 4px rgba(220, 219, 219,1);
}
.key-item[data-v-c7526f2a]:hover {
    color: #807b7b;
    background: linear-gradient(to bottom, #cdcdcd 0%, #cccfd5 65%, #b6b1b1 100%);
    border-bottom: solid 4px #7d7a7a;
    border-top: solid 2px white;
    box-shadow: 0 5px 4px 1px #000000;
}
.key-color-alt[data-v-c7526f2a]:hover {
    color: #635c5c;
    text-shadow: 0 2px 3px rgb(196, 190, 190);
    background: linear-gradient(to bottom, #7b7a7a 0%, #929ba0 65%, #8d8686 100%);
    border-bottom: solid 4px #585050;
    border-top: solid 2px rgba(220, 219, 219,1);
    box-shadow: 0 5px 4px 1px #000000;
}
.key-toggle-on[data-v-c7526f2a] {
    color: lightskyblue;
}
.key-transform-uppercase span[data-v-c7526f2a] {
    text-transform: uppercase;
}
.key-flexible span[data-v-c7526f2a] {
    width: 100% !important;
}
.key-item span[data-v-c7526f2a] {
    display: inline-block;
    width: 1em;
    height: 1.5em;
}
.aspect-wrapper[data-v-c7526f2a] {
    position: relative;
    width: 100%;
    padding-top: 55%;
}
.aspect-wrapper-insides[data-v-c7526f2a] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



#input-text[data-v-1e322f59] {
    color: white;
    font: 50px "customFont";
    background-color: rgba(255, 255, 255, 0);
    display: block;
    width: 100%;
    text-align: center;
}
input[data-v-1e322f59] {
    border: 0;
    outline: 0;
}
input[data-v-1e322f59]:focus {
    outline: none !important;
}



.window[data-v-3c7574c1] {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 1000px;
    width: 1080px;
    height: 650px;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}
.header-row[data-v-3c7574c1] {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 40px;
}


.window[data-v-1058291a] {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 1000px;
    width: 1080px;
    height: 650px;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}
.header-row[data-v-1058291a] {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 40px;
}
.error[data-v-1058291a]{
    color:lightcoral;
}
.qr-image[data-v-1058291a]{
    display: block;
    width:500px;
    height:500px;
    position:absolute;
    top:100px;
    left:300px;
    border: dashed 2px yellow;
}


.container[data-v-1ca635cb] {
    position: absolute;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    transform: translateX(1080px);
    transition: transform 0.5s;
}
.active[data-v-1ca635cb] {
    transform: translateX(0px);
    transition: transform 0.5s;
}
.back-button[data-v-1ca635cb] {
    position: absolute;
    top: 1700px;
    left: 50px;
    width: 160px;
    height: 160px;
}
.button[data-v-1ca635cb] {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: greenyellow;
    text-align: center;
    font-size: 30px;
    line-height: 160px;
    vertical-align: middle;
}
.image-preview[data-v-1ca635cb] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #585454;
}
.image-preview div[data-v-1ca635cb] {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    box-shadow: -1px 17px 38px 9px rgba(0, 0, 0, 0.6);
}
.image-preview div img[data-v-1ca635cb] {
    width: 100%;
    height: 100%;
}

.animated-button[data-v-3a340acc] {
  color: white;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  margin-left: -40px;
  margin-top: 0;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
  transition: all 0.2s linear;
  opacity: 1;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.38);
}
.animated-button.red[data-v-3a340acc] {
    background-color: red;
    z-index: 5;
    animation-name: close-red-data-v-3a340acc;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
.animated-button.blue[data-v-3a340acc] {
    background-color: blue;
    z-index: 4;
    animation-name: close-blue-data-v-3a340acc;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
.animated-button.green[data-v-3a340acc] {
    background-color: green;
    z-index: 3;
    animation-name: close-green-data-v-3a340acc;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
.animated-button.orange[data-v-3a340acc] {
    background-color: orange;
    z-index: 2;
    animation-name: close-orange-data-v-3a340acc;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
.buttons-block.hide .animated-button[data-v-3a340acc] {
    transition: all 0.2s linear;
    opacity: 0;
}
.buttons-block.active .animated-button.red[data-v-3a340acc] {
    animation-name: activate-red-data-v-3a340acc;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
.buttons-block.active .animated-button.blue[data-v-3a340acc] {
    animation-name: activate-blue-data-v-3a340acc;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
.buttons-block.active .animated-button.green[data-v-3a340acc] {
    animation-name: activate-green-data-v-3a340acc;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
.buttons-block.active .animated-button.orange[data-v-3a340acc] {
    animation-name: activate-orange-data-v-3a340acc;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
@keyframes activate-red-data-v-3a340acc {
0% {
    top: 0;
    width: 80px;
    margin-left: -40px;
}
20% {
    top: -50px;
    width: 80px;
    margin-left: -40px;
}
40% {
    top: -120px;
    width: 80px;
    margin-left: -40px;
}
60% {
    top: -190px;
    width: 80px;
    margin-left: -40px;
}
80% {
    top: -260px;
    width: 80px;
    margin-left: -40px;
}
100% {
    top: -260px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
}
@keyframes activate-blue-data-v-3a340acc {
0% {
    top: 0;
    width: 80px;
    margin-left: -40px;
}
20% {
    top: -50px;
    width: 80px;
    margin-left: -40px;
}
40% {
    top: -120px;
    width: 80px;
    margin-left: -40px;
}
60% {
    top: -190px;
    width: 80px;
    margin-left: -40px;
}
80% {
    top: -190px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
100% {
    top: -190px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
}
@keyframes activate-green-data-v-3a340acc {
0% {
    top: 0;
    width: 80px;
    margin-left: -40px;
}
20% {
    top: -50px;
    width: 80px;
    margin-left: -40px;
}
40% {
    top: -120px;
    width: 80px;
    margin-left: -40px;
}
60% {
    top: -120px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
100% {
    top: -120px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
}
@keyframes activate-orange-data-v-3a340acc {
0% {
    top: 0;
    width: 80px;
    margin-left: -40px;
}
20% {
    top: -50px;
    width: 80px;
    margin-left: -40px;
}
40% {
    top: -50px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
100% {
    top: -50px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
}
@keyframes close-red-data-v-3a340acc {
0% {
    top: -260px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
20% {
    top: -260px;
    width: 80px;
    margin-left: -40px;
}
40% {
    top: -190px;
    width: 80px;
    margin-left: -40px;
}
60% {
    top: -120px;
    width: 80px;
    margin-left: -40px;
}
80% {
    top: -50px;
    width: 80px;
    margin-left: -40px;
}
100% {
    top: 0;
    width: 80px;
    margin-left: -40px;
}
}
@keyframes close-blue-data-v-3a340acc {
0% {
    top: -190px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
20% {
    top: -190px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
40% {
    top: -190px;
    width: 80px;
    margin-left: -40px;
}
60% {
    top: -120px;
    width: 80px;
    margin-left: -40px;
}
80% {
    top: -50px;
    width: 80px;
    margin-left: -40px;
}
100% {
    top: 0;
    width: 80px;
    margin-left: -40px;
}
}
@keyframes close-green-data-v-3a340acc {
100% {
    top: 0;
    width: 80px;
    margin-left: -40px;
}
80% {
    top: -50px;
    width: 80px;
    margin-left: -40px;
}
60% {
    top: -120px;
    width: 80px;
    margin-left: -40px;
}
40% {
    top: -120px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
0% {
    top: -120px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
}
@keyframes close-orange-data-v-3a340acc {
100% {
    top: 0;
    width: 80px;
    margin-left: -40px;
}
80% {
    top: -50px;
    width: 80px;
    margin-left: -40px;
}
60% {
    top: -50px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
0% {
    top: -50px;
    width: 200px;
    height: 50px;
    margin-left: -100px;
}
}

.image[data-v-689058a1] {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 355.55556px;
  background-color: #6c6b6b;
  padding: 0;
  transition: all 0.2s linear;
  vertical-align: middle;
  margin: 0 15px;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.38);
}
.image .buttons-block[data-v-689058a1] {
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 80px;
    transition: all 0.2s linear;
}
.image.selected[data-v-689058a1] {
    width: 270px;
    height: 480px;
    transition: all 0.2s linear;
    z-index: 5;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.79);
}
.image.not-selected[data-v-689058a1] {
    width: 170px;
    height: 302.22222px;
    transition: all 0.2s linear;
}
.image.collapse[data-v-689058a1] {
    margin: 0 0 0 -200px;
    transform: translateX(50%);
}
.image.not-selected.collapse[data-v-689058a1] {
    margin: 0 0 0 -170px;
    opacity: 0;
    transform: translateX(50%);
}
.image.selected.collapse[data-v-689058a1] {
    margin: 0 0 0 -270px;
    transform: translateX(50%);
}
.image.selected.collapse.large[data-v-689058a1] {
    margin: -900px 0 0 -900px;
    width: 900px;
    height: 1600px;
    box-shadow: 0 3px 44px 5px rgba(0, 0, 0, 0.87);
}
.image.collapse.small[data-v-689058a1] {
    margin: -60px 0 0 -160px;
    width: 160px;
    height: 284.44444px;
    box-shadow: none;
}
.image.remove[data-v-689058a1] {
    width: 0;
    margin-left: 0;
    margin-right: 0;
    transition: all 0.2s ease-in;
}

.relative-items[data-v-3c0ef78a] {
  pointer-events: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.2s linear;
}
.relative-items .static-backdrop[data-v-3c0ef78a] {
    position: fixed;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    transition: all 0.2s linear;
}
.relative-items .static-backdrop.active[data-v-3c0ef78a] {
      display: block;
      opacity: 1;
}
.relative-items.active[data-v-3c0ef78a] {
    background-color: rgba(0, 0, 0, 0.6);
}

.gallery-icon-overlay[data-v-5fa9d550] {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0);
}
.gallery-frame[data-v-5fa9d550], .themes-frame[data-v-5fa9d550] {
  pointer-events: auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 200ms linear;
}
.gallery-frame.images-collapse[data-v-5fa9d550], .themes-frame.images-collapse[data-v-5fa9d550] {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}
.gallery-frame.transition-collapse[data-v-5fa9d550], .themes-frame.transition-collapse[data-v-5fa9d550] {
    animation-name: gallery-collapse-data-v-5fa9d550;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-direction: alternate;
}
.gallery-frame.transition-expand[data-v-5fa9d550], .themes-frame.transition-expand[data-v-5fa9d550] {
    animation-name: gallery-expand-data-v-5fa9d550;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
.close-button[data-v-5fa9d550] {
  pointer-events: auto;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.6);
  border: 2px solid red;
  width: 80px;
  height: 80px;
  top: -40px;
  right: 50px;
  border-radius: 50%;
}
.themes-transition-collapse[data-v-5fa9d550] {
  animation-name: themes-collapse-data-v-5fa9d550;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-direction: alternate;
}
.themes-transition-expand[data-v-5fa9d550] {
  animation-name: themes-expand-data-v-5fa9d550;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.gallery-transition-collapse .close-button[data-v-5fa9d550],
.themes-transition-collapse .close-button[data-v-5fa9d550] {
  display: none;
}
.gallery-transition-expand .close-button[data-v-5fa9d550],
.themes-transition-expand .close-button[data-v-5fa9d550] {
  display: block;
}
@keyframes gallery-collapse-data-v-5fa9d550 {
0% {
    top: 1000px;
    left: 0;
    width: 1080px;
    height: 550px;
}
100% {
    top: 1730px;
    left: 880px;
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
}
@keyframes gallery-expand-data-v-5fa9d550 {
0% {
    top: 1730px;
    left: 880px;
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
100% {
    top: 1000px;
    left: 0;
    width: 1080px;
    height: 550px;
}
}
@keyframes themes-collapse-data-v-5fa9d550 {
0% {
    top: 1000px;
    left: 0;
    width: 1080px;
    height: 650px;
}
100% {
    top: 1730px;
    left: 80px;
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
}
@keyframes themes-expand-data-v-5fa9d550 {
0% {
    top: 1730px;
    left: 80px;
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
100% {
    top: 1000px;
    left: 0;
    width: 1080px;
    height: 650px;
}
}

.gui-frame[data-v-4544180d] {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
  border: solid 1px red;
  /*    pointer-events: none;*/
}
.start-button[data-v-4544180d] {
  display: inline-block;
  width: 100%;
  border: solid 1px gray;
  border-radius: 10px;
  text-align: center;
  margin-top: 1100px;
  background-color: #7e89b8;
  font-size: 50px;
}


@font-face {
    font-family: "customFont";
    src: url(fonts/font.ttf);
}
body {
    font-family: "customFont", serif;
    user-select: none;
    background-color: #c7c7c7;
}

