
$theme-colors: (
    "primary": #0074d9,
    "secondary": #cfcdcd,
    "light": rgb(250,250,250)
  );

$body-bg: rgb(255, 255, 255);

#videoElement {
	width: 500px;
	height: 375px;
  background-color: #666;
  border:solid 1px black;
}

@import "~/bootstrap/bootstrap.scss";